.p-areaguide {
    margin-top: 80px;
    padding-bottom: 150px;

    @include tab-layout() {
        padding-bottom: 80px;
    }
    @include sp-layout() {
        padding-bottom: 75px;
    }

    &__mv {
        width: 100%;
        height: 60vh;
        background-image: url(/asset/image/areaguide_01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__inner {
        padding-top: 75px;

        @include sp-layout() {
            padding-top: 50px;
        }
    }

    &__title {
        margin-bottom: 1em;
        // color: $color-light;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 30px;
        text-align: center;
        @include font-size(18);

        @include sp-layout() {
            margin-bottom: 20px;
        }
    }

    &__text {
        margin-bottom: 60px;
        text-align: center;

        @include sp-layout() {
            margin-bottom: 30px;
        }
    }

    &__map {
        width: 60%;
        margin: 0 auto 50px;
        display: block;

        @include sp-layout() {
            margin-bottom: 30px;
        }
    }

    &__detailButton {
        margin: 0 auto;
        padding: 0.7em 3em;
        display: block;
        outline: none;
        color: $color-light;
        background-color: $color-primary;
        cursor: pointer;
        appearance: none;
        border: none;
        position: relative;
        @include font-size(14);

        &::after {
            content: '';
            width: 0.8em;
            height: 0.8em;
            position: absolute;
            top: 48%;
            right: 3%;
            transform: translateY(-50%);
            background-image: url(/asset/image/icon_arrow_right.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
