.p-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.is-show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s;
        overflow: scroll;
        z-index: 100;
    }

    &__inner {
        width: 80%;
        max-width: 800px;
        height: auto;
        margin: 10vh auto;
        padding: 30px 3%;
        background-color: $color-light;
        position: relative;
        z-index: 101;

        @include sp-layout() {
            width: 95%;
        }

        h4 {
            margin-bottom: 15px;
        }

        img {
            margin-bottom: 15px;
        }

        p:not(:first-child) {
            margin-bottom: 15px;
        }
    }

    &__closeButton {
        width: 20px;
        height: 20px;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 1.5%;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        @include tab-layout() {
            right: 3%;
        }
    }

    &__cover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-default, 0.8);
        z-index: 100;
    }
}

body.is-modal-hidden {
    overflow: hidden;
}
